{% extends '::base.html.twig' %}

{% block content %}
    <div class="alert alert-success js-status-block" role="alert" style="display: none"></div>
    <div class="alert alert-danger js-status-block" role="alert" style="display: none"></div>
    {{ form(form, {'attr': {'class': 'js-phone-form'}}) }}
{% endblock content %}

{% block body_end_before_js %}
    <script src="{{ asset('bundles/asterisktestapp/js/phone_form.js') }}"></script>
{% endblock body_end_before_js %}